# Unity3D generated project files
Temp/
Library/
obj/

# Visual Studio Rgenerated project files
*.suo
*.user
*.csproj.user
*.unityproj.user

# User preferences
*.prefs

# Build output
*.dll
*.exe
*.pdb

# Asset files
Assets/StreamingAssets/

